{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block body %}
<div class="plantid_info">
    <p>This is a simple plant identification application that uses scikit-learn and the inceptionv3 network.
    Plant Guesser is trained using the PlantCLEF 2016 dataset, uses inceptionv3 with weights from the imagenet challenge
    in order to extract features, and some other machine learning classifiers to make its final predictions. This site
     was made as a capstone project by Benjamin Abbott at Appalachian State University. Happy Guessing!</p>
</div>
{% endblock %}